<!-- Create and user a template file for an artist. This template should display: 
- the picture that came with the artist
- the artist name
- playcount
- listencount  -->


<section class="artistProfile">
    <section class="artistPhoto">
        <img ng-src="{{artist.image[2]['#text']}}">
    </section>
    <section>
        <h1 class="artistName">{{artist.name}}</h1>
        <h6 class="playCount">Plays: {{artist.playcount}}</h6>
        <h6 class="listenCount">Listeners: {{artist.listeners}}</h6>
    </section>
</section>